<div class="container">
  <div class="page-header">
    <h1>Angular 13 Radio Button Group Demo</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Shipping speed</div>
    <div class="panel-body">
      <app-radio-button-group
        [(ngModel)]="selectedOption"
        [options]="shippingOptions"
        name="shippingOptions"
      ></app-radio-button-group>
    </div>
  </div>

  <div class="alert alert-info">
    <strong>Selezionato:</strong>
    <span class="text-uppercase">{{ selectedOption }}</span>
  </div>
</div>
